body{
    background-color: rgb(38, 126, 242);
}

#add_heading{
    color: white;
    margin-top: 20px;
}

.add_form_container{
    font-size: 20px;
    width: 600px;
    display: flex;
    margin: auto;
    margin-top: 20px;
    flex-direction: column;
    /* border: 2px solid black; */
    justify-content: center;
    padding: 10px;
    background-color: lightblue;
    border-radius: 20px;
}
.add_form_container input,textarea{
    padding: 7px;
    font-size: 18px;
    border: none;
    /* border-radius: 20px; */
}
.add_form_container textarea{
    height: 100px;
    width: 100px;
}
.add_form_container label{
    font-style: italic;
}
#add_pass_submit{
    padding: 10px;
    border: none;
    background-color: black;
    color: white;
    font-size: 18px;
    cursor: pointer;
}